@import "~bootstrap/scss/bootstrap";
@import "~flag-icon-css/sass/flag-icon";

//$base-color: rgb(79, 44, 125);
$base-color: black;
//$base-color-light: rgb(155, 114, 210);
$base-color-light: #ced4da;
$logo-font: 'Saira Semi Condensed', sans-serif;

#root {
  padding-bottom: 2em;
}

#logo {
  &:hover {
    text-decoration: none;
  }

  h1 {
    font-family: $logo-font;
    color: $base-color;
  }
}

#searchRow {
  margin-top: 2em;
  margin-bottom: 2em;

  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
  padding: 1em .5em;
}

#homePage {
  #titleRow {
    margin-top: 150px;
  }

  #logo h1 {
    font-size: 5em;
  }

  .btn-info {
    background-color: brown;
    border-color: brown;
  }

  #searchForm {
    margin-top: 3em;

    #searchInputCol {
      padding-right: 0;

      .form-control:focus {
        box-shadow: 0 0 0 0.1rem $base-color-light;
      }
    }
  }

  #flagsRow {
    margin-top: 2rem;
  }

  .countryButton.form-check-inline {

    margin-right: 1em;

    input[type='radio'] {
      height: 13px;
    }

    .countryIcon {
      width: 1.5em;
      line-height: 1.5em;
    }
  }
}

#searchMoviePage {

  a {
    color: unset;
    text-decoration: none;
  }

  #logo h1 {
    font-size: 2.5em;
  }

  td.movieDesc {
    width: 100%;

    .movieTitle {
      font-size: 1.1em;
      color: brown;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

#searchStreamPage {

  a {
    color: unset;
    text-decoration: none;
  }

  #logo h1 {
    font-size: 2.5em;
  }

  td.streamImg {
    img {
      height: 138px;
    }
  }

  .fa-film {
    font-size: 1.2em;
    margin-right: .3rem;
  }

  td.streamDesc {

    .movieTitle {
      font-size: 1.1em;
      color: brown;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .sourceCard {
    .card-header {
      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
        cursor: pointer;
      }

      .sourceTitle {
        font-size: 1.2em;
        text-transform: capitalize;
      }

      .sourceLogo {
        text-align: right;

        img {
          max-width: 200px;
          max-height: 40px;
        }
      }

      .sourceDesc {
        text-align: right;
      }
    }
  }

  #streamCardsRow {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    .col-2 {
      margin-top: 1rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }

    .card {
      height: 100%;
    }

    .card-body {
      padding: 1rem;
    }

    .card-title {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: normal;
      text-transform: capitalize;
    }
  }



  #alternativeTitlesRow {
    margin-top: 1rem;
    margin-bottom: 2rem;

    .card-header {
      text-align: left;
      background-color: white;

      &:hover {
        cursor: pointer;
      }

      .fa-bars {
        margin-right: .5rem;
      }
    }

    .card-body {
      padding: 0.5em;
    }

    div.altTitle {
      background-color: #f8f9fa;
      display: inline-block;
      padding: .25em .4em;
      border: 1px solid #ced4da;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .27rem;
      margin: 0.15rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

#spinnerRow {
  padding-top: 2em;

  #spinner {
    text-align: center;
  }

  .spinner-border {
    margin-right: 1em;
  }
}

#noResultsRow {
  p {
    margin-top: 2rem;
    text-align: center;
  }
}

#searchForm {
  margin-top: 0.5em;
  margin-bottom: 0;

  #searchInputCol {
    padding-right: 0;
  }

  button[type="submit"].btn-outline-dark {
    color: #636262;
    border-color: $base-color-light;
  }

  input[type='text'] {
    border: 1px solid $base-color-light;
  }

  #countrySelect {
    padding-left: 0;
  }

  #inputSearchRow div.dropdown {
    display: inline-block;
    margin-right: 1rem;
  }

  .dropdownFlag {
    margin-right: 5px;
  }

  #tmdbLogo {
    max-height: 35px;
    margin-left: .2em;
  }

  #languageDropdown {
    border-color: $base-color-light;
    background-color: white;
  }
}