@import "~bootstrap/scss/bootstrap";

$base-color: rgb(79, 44, 125);
$base-color-light: rgb(155, 114, 210);

#titleRow {
  margin-top: 150px;
}

#mainTitle {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 5em;
  //color: darkred;
  color: $base-color;
}

#searchForm {
  margin-top: 3em;

  .btn-outline-dark {
    color: $base-color;
    border-color: $base-color;
  }

  input[type='text'] {
    border: 1px solid $base-color-light;
  }
}

#flagsRow {
  margin-top: 0.4em;
}

.countryButton.form-check-inline {

  margin-right: 1em;

  input[type='radio'] {
    height: 13px;
  }

  .countryIcon {
    width: 1.5em;
    line-height: 1.5em;
  }
}